<div class="block-header mt-3">
  <h4 class="mb-0">Dashboards</h4>
</div>
    <div class="container">
                               <h3 style="font-size: 2em;">About The Dashboard</h3>
                        <p style="font-size: 1.5em;">

                            This section of the dashboard displays key summary information.<br> 
                            This includes the total number of students currently enrolled, the number of new admissions, and a breakdown of fee collections.<br>
                            It shows how much money has been received today, this month, and over the current term, as well as how much is still expected.<br>
                            It also includes figures related to feeding fees, offering a quick overview of the school’s financial performance.
                        </p>
                        <img src="assets/images/middlepage.png" alt="Screenshot example" style="max-width: 40%; height: auto; margin-top: 20px;">
                        <br><br>

                        <p style="font-size: 1.5em;">
                            On the left side of the screen is the navigation menu.<br>
                            This menu helps users move between different parts of the system.<br>
                            It includes options for managing students and staff, viewing financial records, generating reports, sending messages, and adjusting system settings.<br>
                            This section serves as the main control panel, allowing quick access to all the core features of the platform.
                        </p>
                        <img src="assets/images/menubar.png" alt="Screenshot example" style="max-width: 40%; height: auto; margin-top: 20px;">
                        <br><br>
                    </div>
