<div class="block-header mt-3">
  <h4 class="mb-0">Login</h4>
</div>
    <div class="container">
        <h1 style="text-align: center; font-size: 3em;">Academea Help</h1>
        <hr>
        
        <h2 style="font-size: 2em;">LOG IN PROCESS<br></h2>
        <p style="font-size: 1.5em;"> 1. Go to the Login Page by opening qasaccounts.academea.net in your browser.</p><br><br>

        <p style="font-size: 1.5em;">2. Enter Your Email & Password 
            Type in your registered email and password.
        </p><br>
            <img src="assets/images/loginpage.png" alt="Login Example" style="max-width: 40%; height: auto; margin-top: 20px;"><br><br>

        <p style="font-size: 1.5em;">3. Receive an OTP 
            After entering your details, the system will send a One-Time Password (OTP) to your email or phone.</p><br>
                <img src="assets/images/otpemail.png" alt="OTP to email example" style="max-width: 40%; height: auto; margin-top: 20px;"><br><br>

        <p style="font-size: 1.5em;">4. Enter the OTP 
            Check your email (or phone) and type the OTP into the space provided.</p>
                    <img src="assets/images/otp.png" alt="Otp" style="max-width: 40%; height: auto; margin-top: 20px;"><br><br><p style="font-size: 1.5em;">5. Click “ Verify”
                        Once you enter the correct OTP, click the verify button to complete the login.
                    </p><br><br>

                        <p style="font-size: 1.5em;"><p style="font-size: 1.5em;">6. If everything checks out, you’ll be redirected to your account dashboard<br>
                        </p>
                        <img src="assets/images/dashboard.png" alt="image of the dashboard" style="max-width: 40%; height: auto; margin-top: 20px;"><br><br><br><br>
                    </div>
