<aside id="leftsidebar" class="sidebar">
  <div class="admin-image"><img src="assets/images/logo.png" alt=""></div>
  <div class="menu main-sidebar">
    <ul class="list">
      <li><a href="dashboard.html">Dashboards</a></li>
      <li><a href="login.html">Login</a></li>

      <!-- Students submenu -->
      <li class="has-submenu">
        <a href="#">Students</a>
        <ul class="submenu">
          <li><a href="addstudent.html">Add Student</a></li>
          <li><a href="currentstudent.html">Current Student</a></li>
          <li><a href="allstudent.html">All Students</a></li>
          <li><a href="OtherStudent.html">New Student</a></li>
          <li><a href="OtherStudent.html">Old Student</a></li>
          <li><a href="Admin/schorlaship.html">Student Scholarship</a></li>
        </ul>
      </li>

      <!-- Staff submenu -->
      <li class="has-submenu">
        <a href="#">Staff</a>
        <ul class="submenu">
          <li><a href="addstaff.html">Add Staff</a></li>
          <li><a href="currentstaff.html">Current Staff</a></li>
          <li><a href="allstaff.html">All Staff</a></li>
          <li><a href="#">Old Staff</a></li>
        </ul>
      </li>

      <!-- Accounts submenu -->
      <li class="has-submenu">
        <a href="#">Accounts</a>
        <ul class="submenu">
          <li><a href="#fees">Term Bill</a></li>
          <li><a href="#payments">Fee Payment Status</a></li>
          <li><a href="#reports">Student Ledger / School Fees</a></li>
          <li><a href="#reports">Student Ledger / Feeding Fees Weekly</a></li>
          <li><a href="#reports">Student Ledger / Feeding Fees termly</a></li>
          <li><a href="#reports">Student Ledger / Bus Fees</a></li>
          <li><a href="#reports">Receive Fee / School Fee</a></li>
          <li><a href="#reports">Receive Fee / Feeding Fees Daily/Weekly</a></li>
          <li><a href="#reports">Receive Fee / Feeding Fees termly</a></li>
          <li><a href="#reports">Receive Fee / Bus Fees daily/weekly</a></li>
          <li><a href="#reports">Daily Cash / All Income</a></li>
          <li><a href="#reports">Daily Cash / School Fees</a></li>
          <li><a href="#reports">Daily Cash / Feeding Fee</a></li>
          <li><a href="#reports">Daily Cash / Bus Fee</a></li>
          <li><a href="#reports">Daily Cash / Sales</a></li>
          <li><a href="#reports">Daily Cash / Other Income</a></li>
          <li><a href="#reports">Daily Cash / Other feed Income</a></li>
          <li><a href="#reports">Income & Expenditure </a></li>
          <li><a href="#reports">Income & Expenditure Summary</a></li>
          <li><a href="#reports">Add Expense</a></li>
          <li><a href="#reports">View Expense</a></li>
          <li><a href="#reports">Print Voucher</a></li>
          <li><a href="#reports">Add Other Income</a></li>
          <li><a href="#reports">View Other Income</a></li>
          <li><a href="#reports">Fee Break Down</a></li>
          <li><a href="#reports">Bill Setup</a></li>
          <li><a href="#reports">Bill Students</a></li>
          <li><a href="#reports">Bill Individual Student</a></li>
          <li><a href="#reports">Bill Note</a></li>
          <li><a href="#reports">Feeding Fee Setup Weekly</a></li>
          <li><a href="#reports">Feeding Fee Setup Termly</a></li>
          <li><a href="#reports">Bill Students(Feeding Fee)</a></li>
          <li><a href="#reports">Bus Fee Setup Weekly</a></li>
          <li><a href="#reports">Bus Fee Setup Termly</a></li>
          <li><a href="#reports">SMS Arrears to Parents</a></li>
        </ul>
      </li>

            <!-- Administration submenu -->
      <li class="has-submenu">
        <a href="#">Administration</a>
        <ul class="submenu">
          <li><a href="#fees">Promote Student</a></li>
          <li><a href="#payments">Swap Fee Received</a></li>
          <li><a href="#reports">Move students to old student</a></li>
          <li><a href="#reports">Print Termly Report</a></li>
          <li><a href="#reports">Print Bill</a></li>
          <li><a href="#reports">Reprint Fee Receipt</a></li>
          <li><a href="#reports">Recall Fees</a></li>
          <li><a href="#reports">Scholarship,Bursary and Discount</a></li>
        </ul>
      </li>

      <!-- Access Control submenu -->
      <li class="has-submenu">
        <a href="#">Access Control</a>
        <ul class="submenu">
          <li><a href="#fees">Fees</a></li>
          <li><a href="#payments">Payments</a></li>
          <li><a href="#reports">Reports</a></li>
        </ul>
      </li>

            <!-- Access Control submenu -->
      <li class="has-submenu">
        <a href="#">SMS</a>
        <ul class="submenu">
          <li><a href="#fees">Send SMS</a></li>
          <li><a href="#payments">SMS Arrears to Parents</a></li>
          <li><a href="#reports">Check Balance</a></li>
          <li><a href="#reports">Message Status</a></li>
          <li><a href="#reports">Configuration</a></li>
          <li><a href="#reports">SMS Template</a></li>
        </ul>
      </li>

            <!-- Access Control submenu -->
      <li class="has-submenu">
        <a href="#">Configuration</a>
        <ul class="submenu">
          <li><a href="#fees">Fees</a></li>
          <li><a href="#payments">Payments</a></li>
          <li><a href="#reports">Reports</a></li>
        </ul>
      </li>
      <li><a href="#configuration">Access Control</a></li>
      <li><a href="#configuration">Configuration</a></li>
      <li><a href="#licence">Licence</a></li>
      <li><a href="#support">Support</a></li>
    </ul>
  </div>
</aside>
<nav>
  <ul>
    <li><a href="dashboard.html">Dashboard</a></li>
    <li><a href="login.html">Login</a></li>
    <li><a href="accounthelp.html">Account Help</a></li>
    <li><a href="accounts-income&expenditure.html">Accounts Income & Expenditure</a></li>
    <li><a href="addstaff.html">Add Staff</a></li>
    <li><a href="addstudent.html">Add Student</a></li>
    <li><a href="administrationhelp.html">Administration Help</a></li>
    <li><a href="allstaff.html">All Staff</a></li>
    <li><a href="allstudent.html">All Student</a></li>
    <li><a href="bills.html">Bills</a></li>
    <li><a href="configuration1.html">Configuration 1</a></li>
    <li><a href="configurationhelp.html">Configuration Help</a></li>
    <li><a href="currentstaff.html">Current Staff</a></li>
    <li><a href="currentstudent.html">Current Student</a></li>
    <li><a href="licence.html">Licence</a></li>
    <li><a href="move-and-promote-student.html">Move & Promote Student</a></li>
    <li><a href="OtherStudent.html">Other Student</a></li>
    <li><a href="program.html">Program</a></li>
    <li><a href="report.html">Report</a></li>
    <li><a href="reports.html">Reports</a></li>
    <li><a href="Residential.html">Residential</a></li>
    <li><a href="SchoolDetails.html">School Details</a></li>
    <li><a href="SMS.html">SMS</a></li>
    <li><a href="smshelp.html">SMS Help</a></li>
    <li><a href="staff.html">Staff</a></li>
    <li><a href="staffhelp.html">Staff Help</a></li>
    <li><a href="Status.html">Status</a></li>
    <li><a href="student-ledger.html">Student Ledger</a></li>
    <li><a href="student.html">Student</a></li>
    <li><a href="studenthelp.html">Student Help</a></li>
    <li><a href="Subject.html">Subject</a></li>
    <li><a href="support.html">Support</a></li>
    <li><a href="swap-fees.html">Swap Fees</a></li>
    <li><a href="TerminalReport.html">Terminal Report</a></li>
    <li><a href="Title.html">Title</a></li>
    <li><a href="underaccounts.html">Under Accounts</a></li>
    <li><a href="Weeks.html">Weeks</a></li>
    <!-- Admin subfolder -->
    <li><a href="Admin/printbill.html">Admin - Print Bill</a></li>
    <li><a href="Admin/schorlaship.html">Admin - Scholarship</a></li>
    <li><a href="Admin/terminalreport.html">Admin - Terminal Report</a></li>
  </ul>
</nav>
