<aside id="leftsidebar" class="sidebar">
  <div class="admin-image"><img src="assets/images/logo.png" alt=""></div>
  <div class="menu main-sidebar">
    <ul class="list">
      <li><a href="#dashboard">Dashboards</a></li>
      <li><a href="#login">Login</a></li>
      <li><a href="#addstudent">Add Student</a></li>
      <li><a href="#currentstudent">Current Student</a></li>
      <li><a href="#allstudent">All Student</a></li>
      <li><a href="#addstaff">Add Staff</a></li>
      <li><a href="#currentstaff">Current Staff</a></li>
      <li><a href="#allstaff">All Staff</a></li>
      <li><a href="#licence">Licence</a></li>
      <li><a href="#support">Support</a></li>
    </ul>
  </div>
</aside>
